# ===================================
# Raw & processed data
# ===================================
data/raw/
data/processed/
phase1-pandas-dag/data/raw/
phase1-pandas-dag/data/processed/
phase1-pandas-dag/data/validation/
# ===================================
# Spark local artifacts
# ===================================
.artifacts/
metastore_db/
derby.log
spark-warehouse/
*.crc
*_SUCCESS
.sparkStaging/

# ===================================
# Python cache & virtualenv
# ===================================
__pycache__/
*.pyc
.venv/
env/
venv/
*.egg-info/
dist/
build/
pip-wheel-metadata/

# ===================================
# IDE / Editor settings
# ===================================
.idea/
.vscode/


# ===================================
# Logs
# ===================================
*.log
log/

# ===================================
# Great Expectations
# ===================================
gx/uncommitted/

# ===================================
# Temporary files
# ===================================
temp/
logs/
drivers/
phase1-pandas-dag/db_config.yml

# ===================================
# Jupyter notebooks
# ===================================
.ipynb_checkpoints/

# ===================================
# OS-specific
# ===================================
.DS_Store
Thumbs.db
