# Core ETL stack only this section cheked with pip show
pyspark==4.0.0
great-expectations==1.5.11


# Common utilities
pandas==2.2.3
boto3==1.35.36
pyarrow==17.0.0   # Spark <-> Pandas conversions, Parquet/Arrow support

# Testing
pytest==7.4.0
